@font-face {
  font-family: myriadpro;
  src: url("webfonts/Myriad-Pro-Regular.woff") format("woff"); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Raleway', 'Poppins', sans-serif;
  font-size: 1.6rem;
  font-weight: 500; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.container {
  max-width: 110rem;
  margin: auto; }

.heading-secondary {
  display: inline-block;
  font-family: myriadpro;
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1.3; }

.heading-tertiary {
  display: inline-block;
  font-family: myriadpro;
  font-weight: 600;
  font-size: 3.5rem;
  line-height: 1.3; }

.paragraph {
  font-size: 1.4rem;
  line-height: 1.4; }

.padding-lrg {
  padding: 11rem 0; }

.padding-med {
  padding: 6rem 0; }

.after-primary {
  border-bottom: 1px solid #fff; }
  .after-primary:after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 40%;
    height: 0.7rem;
    background-color: #f7cc00; }

.after-secondary {
  border-bottom: 1px solid #f7cc00; }
  .after-secondary:after {
    content: "";
    display: block;
    margin-top: 3px;
    width: 40%;
    height: 0.7rem;
    background-color: #e1f3fd; }

.btn {
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  background-color: #f7cc00;
  color: #fff;
  padding: 1.5rem 3.5rem;
  border-radius: 7px;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  transition: all 0.3s ease; }
  .btn:hover {
    background-color: #fff;
    color: #54483A; }
  .btn:active {
    transform: translateY(-3px); }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  background-color: #e1f3fd;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 3rem 6rem; } }
  .header .row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .main-menu {
    position: relative; }
    .header .main-menu__item {
      display: inline-block; }
    .header .main-menu__link {
      display: block;
      padding: 0 2rem;
      font-weight: 600;
      font-size: 1.7rem;
      text-transform: uppercase;
      color: #000;
      transition: all 0.3s ease; }
    .header .main-menu__link:hover, .header .main-menu__link:active {
      color: #f7cc00; }
    @media only screen and (max-width: 56.25em) {
      .header .main-menu {
        display: none; } }

.small-menu i {
  font-size: 2.5rem;
  transition: all 0.3s ease; }
  .small-menu i:hover {
    color: #f7cc00; }

.mobile {
  position: fixed;
  top: 9rem;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7cc00;
  z-index: 9; }
  .mobile__menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .mobile__menu__item {
      margin: 1rem; }
    .mobile__menu__link:link, .mobile__menu__link:visited {
      font-size: 3rem;
      font-weight: 300;
      color: #000;
      display: inline-block;
      padding: 1rem 2rem;
      background: linear-gradient(120deg, transparent 0, transparent 50%, #e1f3fd 50%);
      background-size: 230%;
      transition: all 0.4s ease; }
    .mobile__menu__link:hover, .mobile__menu__link:active {
      background-position: 100%;
      color: #000;
      transform: translateX(1rem); }

.fixed {
  width: 100%;
  position: fixed;
  z-index: 10; }

.search__box {
  position: absolute;
  top: 200%;
  right: 0; }
  .search__box input {
    padding: 0.5rem; }
    .search__box input:focus {
      outline: 1px solid #f7cc00; }

.intro {
  background-color: #e1f3fd;
  padding: 25rem 0 3rem;
  border-radius: 0 0 0 15%;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .intro {
      padding-top: 20rem; } }
  .intro .row {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-gap: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .intro .row {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20rem; } }
    @media only screen and (max-width: 43.75em) {
      .intro .row {
        padding: 0 5rem; } }
  .intro__left h2 span {
    font-size: 8rem; }
  .intro__left p {
    width: 95%;
    margin: 2rem 0 3rem; }
  .intro__left .btn:not(:last-child) {
    margin-right: 1rem; }
  .intro__img {
    width: 100%;
    height: auto; }
  .intro__icons {
    display: flex;
    position: absolute;
    top: 100%;
    left: 9%;
    transform: translateY(-50%); }
    .intro__icons__icon {
      background-color: #f7cc00;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: end;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      transition: all 0.3s ease; }
      .intro__icons__icon:hover {
        background-color: #000; }

.services {
  text-align: center; }
  .services p {
    margin: 1rem 0 2rem; }
  .services .row {
    display: grid;
    margin-top: 6rem;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .services .row {
        grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (max-width: 56.25em) and (max-width: 56.25em) {
    .services .row {
      padding: 0 15rem; } }
  @media only screen and (max-width: 56.25em) and (max-width: 43.75em) {
    .services .row {
      padding: 0 7rem; } }
    .services .row .services__box {
      text-align: left;
      box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.3);
      border-radius: 3px;
      padding: 2rem;
      border-bottom: 0.7rem solid #f7cc00;
      transition: all 0.3s ease; }
      .services .row .services__box:hover {
        border-bottom: 0.7rem solid #e1f3fd; }
      .services .row .services__box img {
        width: 15%;
        float: left; }
      .services .row .services__box h4 {
        width: 85%;
        overflow: hidden;
        text-transform: uppercase;
        margin-left: 6rem;
        padding-top: 1.5rem; }
      .services .row .services__box p {
        margin: 3rem 0;
        line-height: 1.8;
        font-size: 1.4rem; }
  .services__btn {
    margin-top: 4rem;
    padding: 1.5rem 3.5rem; }
    .services__btn:hover {
      background-color: #e1f3fd; }

.about {
  background-color: #e1f3fd;
  border-radius: 0 0 15% 0; }
  .about .row {
    display: grid;
    grid-template-columns: 49% 46%;
    grid-gap: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .about .row {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15rem; } }
    @media only screen and (max-width: 43.75em) {
      .about .row {
        padding: 0 5rem; } }
  .about__left p {
    width: 85%;
    margin: 4rem 0;
    line-height: 2; }
  .about img {
    width: 90%;
    height: auto; }

.team {
  text-align: center; }
  .team p {
    margin: 1rem 0; }
  .team .row {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    @media only screen and (max-width: 56.25em) {
      .team .row {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 5rem; } }
    .team .row h5 {
      font-size: 2.2rem;
      text-transform: uppercase;
      line-height: 1.8;
      color: #0b0a0b;
      font-weight: 600; }
    .team .row h6 {
      font-size: 1.3rem;
      color: #f7cc00;
      text-transform: uppercase; }
  .team img {
    width: 100%;
    height: auto; }

.testimonial {
  background-color: #e1f3fd;
  border-radius: 0 0 0 15%;
  text-align: center; }
  .testimonial .row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 2rem; }
    .testimonial .row .img-box .relative {
      display: inline-block;
      position: relative; }
    .testimonial .row .img-box .img-over {
      position: absolute;
      width: 121px;
      height: 121px;
      border-radius: 50%;
      top: 6%;
      left: 6%; }
    .testimonial .row .img-box h6 {
      color: #f7cc00;
      margin-top: 3px; }
    .testimonial .row p {
      width: 30%;
      padding: 3rem;
      margin-left: 2rem;
      line-height: 1.5;
      background-color: #fff;
      text-align: left; }
  .testimonial__icon {
    font-size: 4.5rem;
    margin-left: -1rem; }

.owl-theme .owl-dots .owl-dot span {
  width: 3.5rem !important;
  height: 3.5rem !important;
  background-color: #000 !important; }

.owl-theme .owl-dots .active span {
  background-color: #f7cc00 !important; }

.contact {
  text-align: center; }
  .contact .form {
    margin: auto;
    margin-top: 3.5rem;
    width: 30%; }
    @media only screen and (max-width: 56.25em) {
      .contact .form {
        width: 50%; } }
    .contact .form input:not(:last-child),
    .contact .form textarea {
      width: 100%;
      padding: 1.5rem;
      margin: 1.5rem 0;
      color: #8f8d8d;
      border: 1px solid #daf0fe; }
      .contact .form input:not(:last-child):focus,
      .contact .form textarea:focus {
        outline: none; }
    .contact .form .btn {
      margin-top: 2rem;
      border: 1px solid transparent;
      border-radius: 3rem;
      padding: 1.5rem 4.5rem;
      text-transform: inherit;
      cursor: pointer; }
      .contact .form .btn:hover {
        background-color: #e1f3fd; }

.location {
  background-color: #2f2f30;
  color: #fff; }
  .location .row {
    display: grid;
    grid-template-columns: 35% 62%;
    grid-gap: 3%; }
    @media only screen and (max-width: 56.25em) {
      .location .row {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 15rem; } }
    @media only screen and (max-width: 43.75em) {
      .location .row {
        padding: 0 7rem; } }
  @media only screen and (max-width: 56.25em) {
    .location__left {
      grid-row: 3/4; } }
  .location__box {
    margin: 3.5rem 0;
    width: 80%;
    display: flex;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .location__box {
        width: 100%; } }
    .location__box i {
      font-size: 5rem;
      margin-right: 2rem; }
    .location__box p {
      font-family: poppins;
      font-size: 1.7rem; }
  .location .newsletter {
    width: 90%; }
    .location .newsletter p {
      font-size: 1.3rem;
      margin-bottom: 1rem; }
    .location .newsletter input[type="email"] {
      color: #c3c2c2;
      padding: 0.8rem;
      width: 70%;
      float: left;
      border: none; }
      .location .newsletter input[type="email"]:focus {
        outline: 1px solid #e1f3fd; }
    .location .newsletter input[type="submit"] {
      width: 25%;
      background-color: #f7cc00;
      color: #fff;
      padding: 0.8rem 0;
      cursor: pointer;
      border: none;
      border-left: 1px solid #eeeded; }
      .location .newsletter input[type="submit"]:hover {
        background-color: #e1f3fd;
        color: #000;
        border-left: 1px solid #2f2f30; }
      .location .newsletter input[type="submit"]:active {
        transform: translateY(-1px); }
  .location img {
    width: 100%;
    height: auto; }

.footer {
  background-color: #e1f3fd;
  padding: 2rem 0;
  text-align: center; }