.about {
    background-color: $color-secondary;
    border-radius: 0 0 15% 0;

    .row {
        display: grid;
        grid-template-columns: 49% 46%;
        grid-gap: 5rem;

        @media only screen and (max-width: $bp-medium){
            grid-template-columns: repeat(1, 1fr);
            padding: 0 15rem;
        }
        @media only screen and (max-width: $bp-small){
            padding: 0 5rem;
        }
    }

    &__left {

        p {
            width: 85%;
            margin: 4rem 0;
            line-height: 2;
        }
    }
    img {
        width: 90%;
        height: auto;
    }
}